.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  max-width: 650px;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.hero button {
  background: #4f46e5;
  color: white;

  border: none;

  padding: 15px 35px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 18px;

  transition: 0.3s;
}

.hero button:hover {
  background: #3730a3;
}